# Ignore node_modules in all subfolders
**/node_modules

# Ignore dist folders
**/dist

# Ignore env files
**/.env
**/.env.*

# Ignore .next build folder
frontend/.next

# Logs
**/logs
*.log
npm-debug.log*

# Mac system files
.DS_Store

secrets.md